{% extends "layout.html" %}

{% block title %}
    HOME
{% endblock %}

{% block main %}
<!--Left side nav bar-->
<div class="sidenav">
  <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#addNewRecipe">Create New Recipe</button>

</div>
  
<!--Modal to add new recipe-->
<div class="modal fade" id="addNewRecipe" tabindex="-1" role="dialog" aria-labelledby="newRecipe" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newRecipe">Add new recipe</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="addnewrecipe">
      <div class="modal-body">
        <label class="form-label">Recipe Title</label>
          <input type="text" name="title" class="form-control" placeholder="Recipe Title">                                 
        <div class="mb-3">
          <label for="ingredients" class="form-label">Ingredients</label>
          <textarea class="form-control" name="ingredients" id="ingredients" rows="5"></textarea>
        </div>
        <div class="mb-3">
          <label for="directions" class="form-label">Method</label>
          <textarea class="form-control" name="method" id="directions" rows="5"></textarea>
        </div>
        <div class="mb-5">
          <label for="notes" class="form-label">Notes</label>
          <textarea class="form-control" name="notes" id="notes" rows="5"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!--Card for recipes-->
<div class="recipecard">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0" id="cardcol">
    </div>
  </div>    
</div>
<script>

</script>

{% endblock %}