<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <!-- Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- My styles-->
        <link href="/static/styles.css" rel="stylesheet">
        <!-- Google Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        
        <title>DishDiaries: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="container" id="nav-container">
            <nav class=" border navbar navbar-expand-md fixed-top">
                <a class="navbar-brand" href="/">
                    <img id="logo" src="static/images/logo.png" alt="logo DishDiaries">DishDiaries
                </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li>
                            <li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
                            <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>

                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>

        {% if session["user_id"] %}
        <!--Left side nav bar-->
<div class="sidenav">
    <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#addNewRecipe">Create New Recipe</button>
  
  </div>
    
  <!--Modal to add new recipe-->
  <div class="modal fade" id="addNewRecipe" tabindex="-1" role="dialog" aria-labelledby="newRecipe" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newRecipe">Add new recipe</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="addnewrecipe">
        <div class="modal-body">
            <label class="form-label">Recipe Title</label>
                <input type="text" name="title" class="form-control" placeholder="Recipe Title"> 
            <div class="mb-3">
                <label for="formFile" class="form-label">Photo</label>
                <input class="form-control" type="file" name="photo" id="addphoto">
            </div>                       
            <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <textarea class="form-control" name="ingredients" id="ingredients" wrap="hard" cols="20" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <label for="directions" class="form-label">Method</label>
                <textarea class="form-control" name="method" id="directions" rows="5"></textarea>
            </div>
            <div class="mb-5">
                <label for="notes" class="form-label">Notes</label>
                <textarea class="form-control" name="notes" id="notes" rows="5"></textarea>
            </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}



            



        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="static/scripts/layout.js" ></script>
        <script src="static/scripts/layout2.js" ></script>
        <script src="static/scripts/index.js"></script>
    </body>

</html>