{% extends "layout.html" %}

{% block title %}
`${recipe['title']}`
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        
        <div class="col-lg-11">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <button class="btn btn-sm btn-outline-success float-end" id="edit_article">edit recipe</button>
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" id="recipe_title">recipe['title']</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" id="creation_date">Created in recipe['date']</div>
                    
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" id="new_photo" src="recipe['photo_url']" /></figure>
                <!-- Post content-->
                <h3>Ingredients</h3>
                <section class="mb-5">
                    <p class="fs-5 mb-4" id="new_ingredients">recipe['ingredients']</p>
                </section>
                <h3>Method</h3>
                <section class="mb-5">
                    <p class="fs-5 mb-4 justify" id="new_method">recipe['method']</p>
                </section>
                <h3>Notes</h3>
                <section class="mb-5">
                    <p class="fs-5 mb-4 justify" id="new_notes">recipe['notes']</p>
                </section>
            </article>


{% endblock %}