{% extends "layout.html" %}

{% block title %}
`${recipe['title']}`
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        
        <div class="col-lg-11">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <button class="btn btn-sm btn-outline-danger float-end" id="delete_article">delete</button>
                <button class="btn btn-sm btn-outline-success float-end" id="edit_article">edit</button>
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" id="recipe_title">recipe['title']</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" id="creation_date">Created in recipe['date']</div>
                    
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" id="new_photo" src="recipe['photo_url']" /></figure>
                <!-- Post content-->
                <h3>Ingredients</h3>
                <section class="mb-5">
                    <p class="fs-5 mb-4" id="new_ingredients">recipe['ingredients']</p>
                </section>
                <h3>Method</h3>
                <section class="mb-5">
                    <p class="fs-5 mb-4 justify" id="new_method">recipe['method']</p>
                </section>
                <h3>Notes</h3>
                <section class="mb-5">
                    <p class="fs-5 mb-4 justify" id="new_notes">recipe['notes']</p>
                </section>
            </article>

<script>
    // Use the recipe_title ID in JavaScript
    document.addEventListener('DOMContentLoaded', function () {
            // To alter the title of the recipe in js
            var recipeTitleElement = document.getElementById('recipe_title');
            var storedTitle = localStorage.getItem('recipeTitle');

            if (recipeTitleElement && storedTitle) {
               recipeTitleElement.innerHTML = storedTitle;
            }

            // To alter the creation date in js
            var dateElement = document.getElementById('creation_date');
            var storedDate = localStorage.getItem('creationDate');

            if (dateElement && storedDate) {
               dateElement.innerHTML = storedDate;
            }

            // To alter the photo in js
            var photoElement = document.getElementById('new_photo');
            var storedPhoto = localStorage.getItem('newPhoto');

            if (photoElement && storedPhoto) {
               photoElement.src = storedPhoto;
            }

            // To alter the ingredients in js
            var recipeIngredientsElement = document.getElementById('new_ingredients');
            var storedIngredients = localStorage.getItem('recipeIngredients');

            if (recipeIngredientsElement && storedIngredients) {
               recipeIngredientsElement.innerHTML = storedIngredients;
            }

            // To alter the method in js
            var recipeMethodElement = document.getElementById('new_method');
            var storedMethod = localStorage.getItem('newMethod');

            if (recipeMethodElement && storedMethod) {
               recipeMethodElement.innerHTML = storedMethod;
            }

            // To alter the notes in js
            var recipeNotesElement = document.getElementById('new_notes');
            var storedNotes = localStorage.getItem('newNotes');

            if (recipeNotesElement && storedNotes) {
               recipeNotesElement.innerHTML = storedNotes;
            }

         });
    
</script>


{% endblock %}