{% extends "layout.html" %}

{% block title %}
`${recipe['title']}`
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">recipe['title']</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Created in recipe['date']</div>
                    
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="/static/images/dfagdg_photo.jpg" alt="..." /></figure>
                <!-- Post content-->
                <h3>Ingredients</h3>
                <section class="mb-5">
                    <p class="fs-5 mb-4">recipe['ingredients']</p>
                </section>
                <h3>Method</h3>
                <section class="mb-5">
                    <p class="fs-5 mb-4">recipe['method']</p>
                </section>
                <h3>Notes</h3>
                <section class="mb-5">
                    <p class="fs-5 mb-4">recipe['notes']</p>
                </section>
            </article>




{% endblock %}